@model IndexVM
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        @foreach (Slide s in Model.Slides)
        {
            <div class="hs-item set-bg" data-setbg="@s.Picture">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 text-white">
                            <span>@s.Slogan</span>
                            <h2>@s.Title</h2>
                            <p>@s.Description</p>
                            <a href="@s.Link" class="site-btn sb-line">İNCELE</a>
                        </div>
                    </div>
                    <div class="offer-card text-white">
                        <h2>@s.Price</h2>
                        <span>TL</span>
                        <p>HEMEN AL</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="container">
        <div class="slide-num-holder" id="snh-1"></div>
    </div>
</section>
<!-- Hero section end -->
<!-- Features section -->
<section class="features-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="img/icons/1.png" alt="#">
                    </div>
                    <h2>Fast Secure Payments</h2>
                </div>
            </div>
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="img/icons/2.png" alt="#">
                    </div>
                    <h2>Premium Products</h2>
                </div>
            </div>
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="img/icons/3.png" alt="#">
                    </div>
                    <h2>Free & fast Delivery</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features section end -->
<!-- letest product section -->
<section class="top-letest-product-section">
    <div class="container">
        <div class="section-title">
            <h2>EN SON EKLENEN ÜRÜNLER</h2>
        </div>
        <div class="product-slider owl-carousel">
            @foreach (Product product in Model.LatestProducts)
            {
                <partial name="_Product" model="@product" />
            }
        </div>
    </div>
</section>
<!-- letest product section end -->
<!-- Product filter section -->
<section class="product-filter-section">
    <div class="container">
        <div class="section-title">
            <h2>EN ÇOK SATILAN ÜRÜNLER</h2>
        </div>
        <div class="row">
            @foreach (Product product in Model.SalesProducts)
            {
                <div class="col-lg-3 col-sm-6">
                    <partial name="_Product" model="@product" />
                </div>
            }
        </div>
    </div>
</section>
<!-- Product filter section end -->
<!-- Banner section -->
<section class="banner-section">
    <div class="container">
        <div class="banner set-bg" data-setbg="img/banner-bg.jpg">
            <div class="tag-new">NEW</div>
            <span>New Arrivals</span>
            <h2>STRIPED SHIRTS</h2>
            <a href="#" class="site-btn">SHOP NOW</a>
        </div>
    </div>
</section>
<!-- Banner section end  -->