@model CategoryVM
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Yeni Kategori Ekle</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form enctype="multipart/form-data" asp-controller="Category" asp-action="Update" method="post" class="form-horizontal form-label-left">
                            <input type="hidden" asp-for="@Model.Category.ID" />
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.Category.Name"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input class="form-control" asp-for="@Model.Category.Name">
                                    <span asp-validation-for="@Model.Category.Name"></span>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.Category.DisplayIndex"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input class="form-control" asp-for="@Model.Category.DisplayIndex">
                                    <span asp-validation-for="@Model.Category.DisplayIndex"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.Category.ParentID"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select class="form-control" asp-for="@Model.Category.ParentID" asp-items="@Model.Categories.Select(x=>new SelectListItem { Text=x.Name,Value=x.ID.ToString()})">
                                        <option value="">Üst Kategori Seçiniz</option>
                                    </select>
                                    <span asp-validation-for="@Model.Category.ParentID"></span>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <a class="btn btn-primary" asp-controller="Category" asp-action="Index">İptal</a>
                                    <button class="btn btn-primary" type="reset">Temizle</button>
                                    <button type="submit" class="btn btn-success">Güncelle</button>
                                </div>
                            </div>
                            @Html.AntiForgeryToken()
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<!-- /page content -->